* {
  box-sizing: border-box;
}

:root {
  --form-radius: 2px;
}

body {
  font-family: "Segoe UI", sans-serif;
}

body, html {
  height: 100vh;
  margin: 0;
  background-color: black;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAABwCAMAAADxPgR5AAABO1BMVEUAAAAAAQAAAgAAAwAABQAACAAACQAACgAADAAAEAAAEgAAEwAAGQAAGwAAIQAAIgAAIwAAJAAAJwAAKgAALAAALgAALwAAMAAAMQAANQAANgAAOAAAPwAAQAAAQgAAQwAARAAARwAASAAASgAASwAATAAATgAAUAAAUQAAVAAAVgAAWAAAWQAAWgAAXAAAXQAAYAAAYQAAYwAAZwAAaAAAaQAAawAAbgAAbwAAcAAAcgAAdAAAdwAAeAAAewAAfAAAfwAAgQAAggAAhAAAiwAAjAAAkgAAkwAAlAAAmQAApAAAqQAAugAAuwAAvAAAvgAAwwAAxAAAxgAAzAAAzQAAzgAA0QAA0gAA0wAA1AAA1gAA1wAA2QAA2wAA3wAA4AAA4gAA4wAA5AAA5QAA5gAA5wAA6QAA6gAA6wB03D73AAABaklEQVRo3u3Yd0/CQBgG8FOkalFxW1exdU9QcNa9RxERHDhKewX1+38CoaSJmhCN4c60Ps9/TS/5pc1d0/ch50fbG2vso+2fXjy+FY0MOVydHVWVj1HVz9dVoqo/XFhaqigTsa3jbNE2skSb7O/sYJ9uObabptS4IYuDrU0C+4hd4+spyyqBC31ioI59hHAkkTQdsFcMEPYR2iIJHaDnwcqmifoY1PGEngaDALFpfn8OuX68KUCAAL+eQ7xSL4NB/qDsc1DgD+Lge/9Y/AmIkRsgQPQ06GkwcqOnQU+DngYgQIxreKUA/Q/K/wBET4OeBiM3QIAohjCQAgToFTDHGzQ5/yaalDNIKYlKoYZ69mlsH1lOW2UwPhQONbNPizSl5WgZ3JkblnrYZ2AsfvDsgCebSzPT7DO/sndWAe+vU3rtkqx24/Iq81BwwBcrb3BI3rQdj5LXgk15xFWIbfGJC5O7GuT2+yVPLvgOJDMdPZPaa0kAAAAASUVORK5CYII=");
}

.completed td {
  text-decoration: line-through;
}

.form-bottom {
  background: #F0F0F0;
  border-top: 1px solid #DFDFDF;
  border-radius: 0 0 var(--form-radius) var(--form-radius);
  margin-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
}

.glass {
  background: rgba(199, 224, 250, 0.5);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(230, 238, 242, 0.75);
  border-radius: 4px;
  box-shadow: 0 1px 16px black;
  outline: 1px solid #072D2A;
  padding: 7px;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0.25rem 0.25rem 0.25rem;
  text-shadow: 0 0 4px white, 0 0 8px white, 0 0 16px white;
}

.inner-container {
  background-color: white;
  outline: 1px solid #154049;
  border-radius: var(--form-radius);
  padding-top: 1rem;
}

.inner-container, .outer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="submit"] {
  background: linear-gradient(180deg, #F2F2F2 0%, #EBEBEB 49%, #DDDDDD 50%, #CFCFCF 100%);
  border: 1px solid #FBFBFB;
  border-radius: 2px;
  display: block;
  font-family: 'Segoe UI';
  font-size: 1rem;
  margin: 0.75rem 0.75rem 0 auto;
  outline: 1px solid #707070;
  padding: 0 0.75rem;
}

input[type="submit"]:focus {
  border: 1px solid #34D5FE;
}

input[type="submit"]:focus, input[type="submit"]:hover {
  background: linear-gradient(180deg, #EAF6FD 0%, #D9F0FC 49%, #BEE6FD 50%, #A7D9F5 100%);
  outline: 1px solid #3C7FB1;
}

input[type="submit"]:hover {
  border: 1px solid #F9FCFE;
}

/* allegedly has to come after `:hover` to work */
input[type="submit"]:active {
  background: linear-gradient(180deg, #E4F3FB 0%, #C4E5F6 49%, #98D1EF 50%, #6DB6DD 100%);
  border: 1px solid #97AAB4;
  outline: 1px solid #2C628B;
}

.outer-container {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  padding: 1rem;
}

table {
  border-spacing: 1.5rem 0.25rem;
}
